* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	background: url(./media/logo.png) no-repeat center center fixed;
}

header {
	display: flex;
	width: 30%;
	margin: auto;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, sans-serif
	font-weight: bold;
}

p {
	font-family: Georgia, sans-serif
}